<h1 mat-dialog-title>Row Action:<strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="{{action}} name" [(ngModel)]="local_data.name">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Model</mat-label>
        <input matInput placeholder="Model" [(ngModel)]="local_data.model">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Manufactured Year</mat-label>
        <input matInput placeholder="Year" type="number" [(ngModel)]="local_data.made">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Color</mat-label>
        <input matInput placeholder="Color" [(ngModel)]="local_data.color">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" type="number" step="100" [(ngModel)]="local_data.price">
    </mat-form-field>
    
  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.name}} {{local_data.model}} {{local_data.made}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>