<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="registerFormGroup">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error *ngIf="username?.hasError('required')">UserName is required</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="email?.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="email?.hasError('email')">Email is incorrect</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Password" formControlName="password"
                        (input)="onPasswordInput()">
                    <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">Password must have at least {{minPw}} characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm password" formControlName="password2"
                        (input)="onPasswordInput()">
                    <mat-error *ngIf="password2?.hasError('required')">Please confirm your password</mat-error>
                    <mat-error *ngIf="password2?.invalid && !password2?.hasError('required')">Passwords don't match
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" style="width:100%" type="submit"
                (click)="addUser()" [disabled]="!registerFormGroup.valid">Register</button>
        </form>
    </mat-card>
</div>